body{
  background-color: rgba(189, 189, 189, 0.3);
  margin: 0;
  font-family: roboto;
}

a{
  text-decoration: none;
}

.nav-container{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  border: solid;
}

.nav-icon{
  width: 30px;
  border-radius: 15px;
}

.nav-name{
  color: white;
  display: flex;
  flex: 1;
  justify-content: start;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

.nav-intructions{
  display: flex;
  width: 450px;
  justify-content: space-between;
  font-weight: 500;
}

.nav-intructions a div{
  color: white;
}

a div:hover{
  text-decoration: underline;
}

.main-container{
  display: flex;
  flex: 1;
  vertical-align: center;
  height: 700px;
  padding: 20px;
}

.main-icon{
  display: flex;
  align-items: center;
}

.main-icon-picture{
  width: 380px;
  border-radius: 200px;
  border: solid black;
  background-color: black;
}

.main-content{
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 20px;
}

.main-content-text{
  width: 300px;
  margin-left: 10px;
}

.main-content-subtitle{
  font-size: 18px;
  font-weight: 500;
}

.main-content-description{
  font-size: 20px;
  line-height: 24px;
}

.skill-container{
  display: flex;
  flex: 1;
  height: 600px;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px 0 150px;
  background-color: black;
}

.skill-card{
  display: grid;
  background-color: black;
  width: 160px;
  color: white;
  padding: 15px;
  border: solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.skill-card:hover{
  box-shadow: 0 0px 15px rgba(255, 255, 255, 1);
}

.skill-image{
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.skill-picture{
  width: 135px;
}

.skill-desc{
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.project-container{
  display: grid;
  grid-template-rows: 60px 30px 500px;
  justify-content: center;
  padding: 100px 0 0px;
}

.project-title{
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.project-subtitle{
  text-align: center;
}

.project-picture{
  width: 700px;
}


.contact-container{
  color: white;
  display: flex;
  flex: 1;
  background-color: black;
  height: 400px;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
}

.contact-title{
  margin-bottom: 50px;
}

.contact-icon-container{
  display: flex;
  justify-content: space-between;
  padding: 0 300px 0 300px;
}

.icons{
  width: 60px;
}

.contact-footer{
  display: flex;
  justify-content: center;
  margin-top: 140px;
  background-color: rgba(69, 69, 69, 1);
  height: 60px;
  align-items: center;
}

.footer-row{
  width: 190px;
}

.footer1{
  font-weight: 500;
}

@media only screen and (max-width: 700px){
  
  .nav-container{
    padding: 4px;
  }
  
  .nav-icon{
    width: 20px;
  }
  
  .nav-name{
    font-size: 18px;
  }
  
  .nav-intructions{
    width: 180px;
    font-size: 12px;
  }
  
  .main-container{
    height: 400px;
    height: 500px;
    padding: 10px;
  }
  
  .main-icon-picture{
    width: 120px;
  }
  
  .main-content-text{
    font-size: 12px;
  }
  
  .main-content-subtitle{
    font-size: 12px;
  }
  
  .main-content-description{
    line-height: 15px;
    width: 150px;
    font-size: 11px;
  }
  
  .skill-container{
    display: flex;
    flex: 1;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    height: 400px;
  }
  
  .skill-card{
    width: 80px;
    height: 120px;
  }
  
  .skill-picture{
    width: 60px;
  }
  
  .project-container{
    align-items: start;
    padding: 10px;
  }
  
  .project-picture{
    width: 300px;
  }
}
